@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section>
   
    <div class="row">
        <div class="col">
            <h3 class="btn-outline-primary"><a  asp-controller="Film" asp-action="getAllFilm"> Voir tout les film Creer par les utilisateur </a></h3>
        </div>
        <div class="col">
            <h3 class="btn-outline-danger" ><a  asp-controller="Film" asp-action="CreateFilm">Creer Votre Propre Aventure </a></h3>
        </div>
       
    </div>
   <div class="row">
        <canvas id="c">
        </canvas>
   </div>
      
   
    <div class="row">
        <div class="col">
            <h4 class="btn btn-outline-primary">vous pouvez les aventure que d'autre personne on creer ,pensez imaginer et vous en impregner </h4>
        </div>
       
        <div class="col">
            <h4class class="btn btn-outline-danger"> vous pouvez inventé votre histoire dans les conditions que vous desirez et la partager avec d'autre utilisateur'</h4class>
        </div>
    </div>
</section>