@model Web.Examen.Client.Models.Acteur.CreateActeur

@{
    ViewData["Title"] = "CreateActeur";
}

<h1>CreateActeur</h1>

<h4>CreateActeur</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateActeur">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FilmId" class="control-label"></label>
                <input asp-for="FilmId" class="form-control" />
                <span asp-validation-for="FilmId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Roles" class="control-label"></label>
                <input asp-for="Roles" class="form-control" />
                <span asp-validation-for="Roles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rolesdescription" class="control-label"></label>
                <input asp-for="Rolesdescription" class="form-control" />
                <span asp-validation-for="Rolesdescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Film" asp-action="getAllFilm">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
